@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if(TempData["message"] != null)
            {
                <div class="text-center alert alert-success">@TempData["message"]</div>
            } 
    <!--Image of temple-->
    <img src="img/temple.jpeg" class="card-img-top" style="width: 95%;" alt="Layton Utah Temple Rendering">
    <!--title-->
    <h1 class="display-4">Layton Utah Temple Tours</h1>
</div>

<!--info about temple tours-->
<div class="text-center">
    <a class="btn btn-primary" asp-action="AvailableTimes">Sign Up</a>
    <br />
    <br />
</div>

<p>
    PLEASE SIGN-UP FOR SUNDAY TOURS ONLY.  WE WILL SOON HAVE A NEW SCHEDULE SINCE WE HAVE BEEN ASKED TO STOP ALL OUTSIDE TOURS.
    Please review the available slots ON SUNDAY ONLY and click on the button to sign up.
    Use the "quantity" field to let us know how many people will be in your group. Thank you!
</p>

<h3>General Tour Instructions:</h3>
<ul>
    <li>Masks are required.</li>
    <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</li>
    <li>Dress casual, except on Sunday</li>
</ul>
<br />

<h3>Special Accommodations (check the appropriate box when signing up for a tour):</h3>
<ul>
    <li>Spanish-speaking tours are available on Thursday, Friday, Saturday or Sunday</li>
</ul>
<br />

<h3>Available Tours:</h3>
<ul>
    <li>Tour (Outdoor): We have been asked to discontinue outside tours at this time.</li>
    <li>Trailer Tour: All tours will be inside the trailer. Masks are required</li>
</ul>
<br />

<p><b>Please call 801-628-4488 or email LaytonTempleTours@gmail.com with questions or special requests.</b></p>
<br />

<p>
    Location:
    <a href="https://www.google.com/maps/search/?api=1&amp;query=1500+E+Oak+Hills+Drive+Layton+UT+84040" title="Show Map" class="SUGlink" target="_blank">
        Layton Utah Temple 1500 E Oak Hills Drive, Layton, UT 84040
    </a>
</p>

